# Entorno virtual
venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*.pyo

# Archivos de logs o bases de datos locales
*.log
*.sqlite3

# Archivos de configuración de entorno
.env

# Configuración del editor
.vscode/
.idea/