{% extends 'layout.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cifra_flujo.css') }}">
{% endblock %}

{% block content %}
    <div class="cifra-flujo-container">
        <aside class="sidebar">
            <h3>Cifrado en Flujo</h3>
            <ul class="menu">
                <li><a href="{{ url_for('cifra_flujo.index') }}" class="{% if request.endpoint == 'cifra_flujo.index' %}active{% endif %}">Introducción</a></li>
                <li><a href="{{ url_for('cifra_flujo.demostracion') }}" class="{% if request.endpoint == 'cifra_flujo.demostracion' %}active{% endif %}">Demostración</a></li>
            </ul>
        </aside>

        <section class="content">
            {% block cifra_flujo_content %}{% endblock %}
        </section>
    </div>
{% endblock %}